body {
  background-color: #13062e;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  margin-top: 20px;
}

form {
  text-align: center;
  margin: 100px auto;
  width: 300px;
  padding: 50px;
  box-shadow: #808080 0 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

button {
  padding: 10px 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.description {
  color: gray;
  margin-top: 10px;
}

.task-form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

select,
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 500px;
}

.task-container {
  width: 600px;
}

.date {
  font-weight: 400;
}

.icon-buttons {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon-buttons:hover {
  background-color: #0056b3;
}

.icon-container {
  display: flex;
  gap: 10px;
}

#body-container {
  display: flex;
  gap: 20px;
  margin: 30px 300px 150px;
}

#task-container {
  width: 100%;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.completed-label {
  display: flex;
  align-items: center;
}

.completed-label input {
  margin-right: 8px;
}

.add-category {
  margin-top: 20px;
}

.category-name {
  font-size: 18px;
  font-weight: 700;
}

.completed {
  text-decoration: line-through;
  color: #ff0000;
}

#sidebar-container {
  background-color: #ffffff;
  padding: 20px;
  width: 40%;
  margin-top: 10px;
}

#sidebar-container .link {
  color: #000000;
}

.sorting-segment {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  width: 200px;
}

/* Footer */

.footer {
  color: #ffffff;
  /* padding: 20px; */
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-container {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.alert-message {
  color: #ff0000;
  font-size: 16px;
}

#exclamation {
  font-size: 14px;
}
.wider-select {
  width: 200px; /* Adjust the width as needed */
}

.category-container {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 25px;
}

#new-task {
  margin-left: 10px;
}
